<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <fileSystemDataProvider 
          type="Publishing.Integration.FileSystemProvider.JsonFileSystemDataProvider, Publishing.Integration.FileSystemProvider">
        <param desc="filePath">C:\testground\chromedome\Data\CustomItems</param>
        <param desc="rootItemId">{4975F07A-6FB4-41B1-8611-4927A3B70E3D}</param>
        <param desc="idTablePrefix">pubExample</param>        
      </fileSystemDataProvider>
    </dataProviders>
    <databases>
      <database id="master" >
        <dataProviders hint="list:AddDataProvider">
          <dataProvider patch:before="*[1]" ref="dataProviders/fileSystemDataProvider"/>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>